name: gitea-s3backup-docker-build-and-push

on:
  push:
    branches:
      - 'main'

    tags:
      - 'v*'

    paths-ignore:
      - "**/README.md"
      - "k8s-resources/*"
  
  pull_request:
    paths-ignore:
      - "**/README.md"
      - "k8s-resources/*"

  workflow_dispatch:

jobs:
  buildAndPublishDockerImage:
    name: Build and publish gitea-s3backup image
    runs-on: ubuntu-20.04
    steps:

      - name: Print Github event context
        env: 
          EVENT_CONTEXT: ${{ toJSON(github.event) }}
        run: |
          echo $EVENT_CONTEXT

      - name: Checkout source code
        uses: actions/checkout@v3

      - name: Docker meta
        uses: docker/metadata-action@v4
        with:
          images: rg.fr-par.scw.cloud/seblabcr_priv/gitea-s3backup
          tags: |
            type=semver,pattern={{version}}
            type=sha

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Scaleway private Docker Registry
        # Do not run this step on pull request trigger
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v2
        with:
          registry: rg.fr-par.scw.cloud/seblabcr_priv
          username: nologin
          password: ${{ secrets.SCALEWAY_REG_TOKEN }}
      
      - name: Build and push Docker image
        uses: docker/build-push-action@v3
        with:
          context: .
          file: ./Dockerfile
          tags: ${{ steps.docker_meta.outputs.tags }}
          # Do not push on pull request trigger - only build
          push:  ${{ github.event_name != 'pull_request' }}
